body {
    overflow: hidden;
}

ul.nav {
    margin-bottom: 0px;
}

svg.room {
    width: 60%;
    float: left;
}

form.room {
    width: 40%;
    float: right;
}

div.main {
    height: 100%;
    width: 100%;
}

div.world-viewer {
    height: 100%;
    width: 100%;
}
