<!DOCTYPE html>
<html>
  <head>
    <title>Vilive</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#if test}}
      <link rel="stylesheet" href="/testem/mocha.css">
      <style>
        .ember-view {
          display: none;
        }
      </style>
    {{/if}}

    {{#styles}}<link rel="stylesheet" href="{{this}}">
    {{/styles}}
  </head>
  <body>
    <script>
    //have to enable features before ember loads
    ENV = {
      FEATURES: {
        'query-params-new': true
      }
    };
    </script>

    {{#if test}}
      <script src="/testem/mocha.js"></script>
      <script src="/testem/chai.js"></script>
      <script src="/testem.js"></script>
      <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}

    {{#scripts}}<script src="{{this}}"></script>
    {{/scripts}}

    {{#if test}}
      <script>mocha.setup('bdd')</script>
      <div id="mocha"></div>
      <script>
        //load all test modules
        require('spec/init');
        Object.keys(require.entries)
              .filter(function (key) { return key.match(/^spec/); })
              .forEach(function (spec) { require(spec); });

        mocha.run()
      </script>
    {{else}}
      <script>
        window.App = require('app/app')['default'].create();
      </script>
    {{/if}}
  </body>
</html>
