<header class="navbar navbar-default navbar-collapse navbar-static-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text">Builder</p>
        </div>
        <nav role="navigation">
            <ul class="nav navbar navbar-right">
                <li>
                    {{#link-to 'room.new' class='btn btn-default navbar-btn'}}+ Room{{/link-to}}
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="world-viewer">
    {{outlet}}
</div>
