<header class="navbar navbar-default navbar-collapse navbar-static-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text">Builder</p>
        </div>
        <nav role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-default navbar-btn">+ Room</button>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="world-viewer">
    {{outlet}}
</div>
