<div class="col-md-12">
  <a href="https://en.wikipedia.org/wiki/Yggdrasil"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Om_Yggdrasil_by_Fr%C3%B8lich.jpg" alt="yggdrasil" class="img-thumbnail"></a>
</div>
