<form class="login" action="POST" {{action "login" on="submit"}}>
  <div class="form-group">
    {{input value=username class="username form-control" placeholder="Username"}}
  </div>
  <div class="form-group">
    {{input value=password type="password" class="password form-control" placeholder="Password"}}
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit"/>
  </div>
</form>
